.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  padding: 20px;
}

.register__content {
  border-radius: 10px;
  width: 550px;
  padding: 20px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.mat-mdc-form-field {
  padding-top: 17px;
  width: 100%;
}

.send {
  padding-top: 15px;
  text-align: center;
}

.birthday:hover {
  cursor: default;
}
